# data
data/*
predict/*
!predict/data_to_predict.csv

# notebooks
notebooks/*
!notebooks/*.ipynb
*.ipynb_checkpoints
test.ipynb

# mlruns
mlruns

# queries
dags/sql/checking_columns.sql

# cache
scripts/__pycache__
__pycache__

# cloud keys
cfl-streamlit_aws.pem
cfl-streamlit_azure.pem

# logs
script_logs/*
!script_logs/.gitkeep
logs
*.log

# vscode
.vscode

# Scripts
dags/scripts/*

# others
.idea
requirements.txt
examples/*