scipy==1.5.4
numpy==1.19.5
ppscore==1.2.0
pycaret==2.3.4
pandas==1.2.4
Click==7.1.2
PyYAML==5.4.1
scikit_learn==0.23.2
openpyxl == 3.0.9

# For testing later, depending on how do I read the data from postgres to pandas
# psycopg2==2.9.3
# requests==2.22.0
# SQLAlchemy==1.4.36
#pandas==1.4.2